fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
passlib==1.7.4
python-multipart
pydantic[email]
langchain-google-genai
langchain-core
email-validator
supabase
